<h1 class='mt-5'>Transações</h1>

<hr>
<h5>Importar Arquivos CNAB</h5>
<%= form_tag({ action: :import }, multipart: true) do %>
  <%= file_field_tag 'transaction[file_data]' %>
  <%= submit_tag :send %>
<% end %>

<% if @customers.present?  %>
  <%= render 'transactions_table' %>
<% end %>
